<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mindi</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a16788">  <td>16/02/24 16:13:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunTestHappyPath.RunTest()[pri:0, instance:HappyPath.RunTestHappyPath@7f63425a]">&gt;&gt;RunTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510113906</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>16/02/24 16:13:52</td>   <td>11429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunTestHappyPath.verifyaboutyou(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:HappyPath.RunTestHappyPath@7f63425a]">verifyaboutyou</td> 
  <td>main@510113906</td>   <td></td> </tr>
</table>
